<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Kunde</servlet-name>
        <servlet-class>no.hin.stg.intapp.oblig4web.servlet.Kunde</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>no.hin.stg.intapp.oblig4web.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logof</servlet-name>
        <servlet-class>no.hin.stg.intapp.oblig4web.servlet.Logof</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>no.hin.stg.intapp.oblig4web.servlet.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Account</servlet-name>
        <servlet-class>no.hin.stg.intapp.oblig4web.servlet.Account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transaction</servlet-name>
        <servlet-class>no.hin.stg.intapp.oblig4web.servlet.Transaction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Kunde</servlet-name>
        <url-pattern>/Kunde</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logof</servlet-name>
        <url-pattern>/Logof</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transaction</servlet-name>
        <url-pattern>/Transaction</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
